<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_180_100.png</string>
				<key>name</key>
				<string>AC Schnitzer</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_92_100.png</string>
				<key>name</key>
				<string>阿尔法·罗密欧</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_9_100.png</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_97_100.png</string>
				<key>name</key>
				<string>阿斯顿·马丁</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_172_100.png</string>
				<key>name</key>
				<string>巴博斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_157_100.png</string>
				<key>name</key>
				<string>宝骏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_3_100.png</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_82_100.png</string>
				<key>name</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_163_100.png</string>
				<key>name</key>
				<string>北京汽车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_211_100.png</string>
				<key>name</key>
				<string>北汽幻速</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_168_100.png</string>
				<key>name</key>
				<string>北汽威旺</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_14_100.png</string>
				<key>name</key>
				<string>北汽制造</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_100.png</string>
				<key>name</key>
				<string>奔驰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_59_100.png</string>
				<key>name</key>
				<string>奔腾</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_26_100.png</string>
				<key>name</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_5_100.png</string>
				<key>name</key>
				<string>标致</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_127_100.png</string>
				<key>name</key>
				<string>别克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_85_100.png</string>
				<key>name</key>
				<string>宾利</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_15_100.png</string>
				<key>name</key>
				<string>比亚迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_135_100.png</string>
				<key>name</key>
				<string>布加迪</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_129_100.png</string>
				<key>name</key>
				<string>昌河</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_113_100.png</string>
				<key>name</key>
				<string>道奇</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_165_100.png</string>
				<key>name</key>
				<string>大通</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_8_100.png</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_27_100.png</string>
				<key>name</key>
				<string>东风</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_197_100.png</string>
				<key>name</key>
				<string>东风风度</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_141_100.png</string>
				<key>name</key>
				<string>东风风神</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_115_100.png</string>
				<key>name</key>
				<string>东风风行</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_205_100.png</string>
				<key>name</key>
				<string>东风小康</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_29_100.png</string>
				<key>name</key>
				<string>东南</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_179_100.png</string>
				<key>name</key>
				<string>DS</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_91_100.png</string>
				<key>name</key>
				<string>法拉利</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_199_100.png</string>
				<key>name</key>
				<string>飞驰商务车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_164_100.png</string>
				<key>name</key>
				<string>菲斯克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_40_100.png</string>
				<key>name</key>
				<string>菲亚特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_7_100.png</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_67_100.png</string>
				<key>name</key>
				<string>福迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_190_100.png</string>
				<key>name</key>
				<string>弗那萨利</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_208_100.png</string>
				<key>name</key>
				<string>福汽启腾</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_17_100.png</string>
				<key>name</key>
				<string>福特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_128_100.png</string>
				<key>name</key>
				<string>福田</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_109_100.png</string>
				<key>name</key>
				<string>GMC</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_110_100.png</string>
				<key>name</key>
				<string>光冈</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_147_100.png</string>
				<key>name</key>
				<string>广汽</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_63_100.png</string>
				<key>name</key>
				<string>广汽吉奥</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_133_100.png</string>
				<key>name</key>
				<string>广汽日野</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_182_100.png</string>
				<key>name</key>
				<string>观致汽车</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_31_100.png</string>
				<key>name</key>
				<string>哈飞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_196_100.png</string>
				<key>name</key>
				<string>哈弗</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_170_100.png</string>
				<key>name</key>
				<string>海格</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_32_100.png</string>
				<key>name</key>
				<string>海马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_149_100.png</string>
				<key>name</key>
				<string>海马商用车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_181_100.png</string>
				<key>name</key>
				<string>恒天汽车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_58_100.png</string>
				<key>name</key>
				<string>红旗</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_52_100.png</string>
				<key>name</key>
				<string>黄海</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_112_100.png</string>
				<key>name</key>
				<string>华泰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_45_100.png</string>
				<key>name</key>
				<string>汇众</string>
			</dict>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_35_100.png</string>
				<key>name</key>
				<string>江淮</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_37_100.png</string>
				<key>name</key>
				<string>江铃</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_38_100.png</string>
				<key>name</key>
				<string>江南</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_98_100.png</string>
				<key>name</key>
				<string>捷豹</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_143_100.png</string>
				<key>name</key>
				<string>吉利帝豪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_144_100.png</string>
				<key>name</key>
				<string>吉利全球鹰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_148_100.png</string>
				<key>name</key>
				<string>吉利英伦</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_39_100.png</string>
				<key>name</key>
				<string>金杯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_57_100.png</string>
				<key>name</key>
				<string>金龙联合</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_161_100.png</string>
				<key>name</key>
				<string>金旅客车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_152_100.png</string>
				<key>name</key>
				<string>九龙</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100.png</string>
				<key>name</key>
				<string>Jeep</string>
			</dict>
		</array>
		<key>title</key>
		<string>J</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_188_100.png</string>
				<key>name</key>
				<string>卡尔森</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_107_100.png</string>
				<key>name</key>
				<string>凯迪拉克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_150_100.png</string>
				<key>name</key>
				<string>开瑞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_51_100.png</string>
				<key>name</key>
				<string>克莱斯勒</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_145_100.png</string>
				<key>name</key>
				<string>科尼塞克</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_212_100.png</string>
				<key>name</key>
				<string>KTM</string>
			</dict>
		</array>
		<key>title</key>
		<string>K</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_86_100.png</string>
				<key>name</key>
				<string>兰博基尼</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_200_100.png</string>
				<key>name</key>
				<string>蓝海房车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_80_100.png</string>
				<key>name</key>
				<string>劳斯莱斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_94_100.png</string>
				<key>name</key>
				<string>雷克萨斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_99_100.png</string>
				<key>name</key>
				<string>雷诺</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_146_100.png</string>
				<key>name</key>
				<string>莲花</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_153_100.png</string>
				<key>name</key>
				<string>猎豹汽车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_76_100.png</string>
				<key>name</key>
				<string>力帆</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_16_100.png</string>
				<key>name</key>
				<string>铃木</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_166_100.png</string>
				<key>name</key>
				<string>理念</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_95_100.png</string>
				<key>name</key>
				<string>林肯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_36_100.png</string>
				<key>name</key>
				<string>陆风</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_96_100.png</string>
				<key>name</key>
				<string>路虎</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_83_100.png</string>
				<key>name</key>
				<string>路特斯</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_183_100.png</string>
				<key>name</key>
				<string>迈凯伦</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_93_100.png</string>
				<key>name</key>
				<string>玛莎拉蒂</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_18_100.png</string>
				<key>name</key>
				<string>马自达</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_79_100.png</string>
				<key>name</key>
				<string>MG</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_81_100.png</string>
				<key>name</key>
				<string>MINI</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_201_100.png</string>
				<key>name</key>
				<string>摩根</string>
			</dict>
		</array>
		<key>title</key>
		<string>M</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_155_100.png</string>
				<key>name</key>
				<string>纳智捷</string>
			</dict>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_104_100.png</string>
				<key>name</key>
				<string>欧宝</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_84_100.png</string>
				<key>name</key>
				<string>讴歌</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_171_100.png</string>
				<key>name</key>
				<string>欧朗</string>
			</dict>
		</array>
		<key>title</key>
		<string>O</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_156_100.png</string>
				<key>name</key>
				<string>启辰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_43_100.png</string>
				<key>name</key>
				<string>庆铃</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_42_100.png</string>
				<key>name</key>
				<string>奇瑞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_28_100.png</string>
				<key>name</key>
				<string>起亚</string>
			</dict>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_30_100.png</string>
				<key>name</key>
				<string>日产</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_78_100.png</string>
				<key>name</key>
				<string>荣威</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_142_100.png</string>
				<key>name</key>
				<string>瑞麒</string>
			</dict>
		</array>
		<key>title</key>
		<string>R</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_25_100.png</string>
				<key>name</key>
				<string>三菱</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_209_100.png</string>
				<key>name</key>
				<string>山姆</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_195_100.png</string>
				<key>name</key>
				<string>绅宝</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_50_100.png</string>
				<key>name</key>
				<string>双环</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_102_100.png</string>
				<key>name</key>
				<string>双龙</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_111_100.png</string>
				<key>name</key>
				<string>斯巴鲁</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_10_100.png</string>
				<key>name</key>
				<string>斯柯达</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_89_100.png</string>
				<key>name</key>
				<string>smart</string>
			</dict>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_202_100.png</string>
				<key>name</key>
				<string>泰卡特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_189_100.png</string>
				<key>name</key>
				<string>特斯拉</string>
			</dict>
		</array>
		<key>title</key>
		<string>T</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_140_100.png</string>
				<key>name</key>
				<string>威麟</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_186_100.png</string>
				<key>name</key>
				<string>威兹曼</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_19_100.png</string>
				<key>name</key>
				<string>沃尔沃</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_48_100.png</string>
				<key>name</key>
				<string>五菱</string>
			</dict>
		</array>
		<key>title</key>
		<string>W</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_13_100.png</string>
				<key>name</key>
				<string>现代</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_174_100.png</string>
				<key>name</key>
				<string>星客特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_71_100.png</string>
				<key>name</key>
				<string>新凯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_87_100.png</string>
				<key>name</key>
				<string>西雅特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_49_100.png</string>
				<key>name</key>
				<string>雪佛兰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_6_100.png</string>
				<key>name</key>
				<string>雪铁龙</string>
			</dict>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_194_100.png</string>
				<key>name</key>
				<string>扬州亚星客车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_138_100.png</string>
				<key>name</key>
				<string>野马汽车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_100_100.png</string>
				<key>name</key>
				<string>英菲尼迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_53_100.png</string>
				<key>name</key>
				<string>一汽</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_41_100.png</string>
				<key>name</key>
				<string>依维柯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_75_100.png</string>
				<key>name</key>
				<string>永源</string>
			</dict>
		</array>
		<key>title</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_136_100.png</string>
				<key>name</key>
				<string>长安轿车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_159_100.png</string>
				<key>name</key>
				<string>长安商用</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_21_100.png</string>
				<key>name</key>
				<string>长城</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_203_100.png</string>
				<key>name</key>
				<string>之诺</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_60_100.png</string>
				<key>name</key>
				<string>中华</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_167_100.png</string>
				<key>name</key>
				<string>中欧</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_77_100.png</string>
				<key>name</key>
				<string>众泰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_204_100.png</string>
				<key>name</key>
				<string>中通客车</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_33_100.png</string>
				<key>name</key>
				<string>中兴</string>
			</dict>
		</array>
		<key>title</key>
		<string>Z</string>
	</dict>
</array>
</plist>
